In [1]:
# Create the frquency tables
# Import the packages
# Read the data
# cat and numerical columns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
visa_df=pd.read_csv('Visadataset.csv')
cat_cols=visa_df.select_dtypes(include='object').columns
num_cols=visa_df.select_dtypes(exclude='object').columns

In [2]:
num_cols

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**prevailing_wage**

In [3]:
p_wage=visa_df['prevailing_wage']
p_wage

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

- count

- min

- mean

- median

- std

- 25p

- 50p

- 75p

- max

In [4]:
wage_count=len(p_wage)
wage_count

25480

In [5]:
wage_min=min(p_wage)
wage_min

2.1367

In [6]:
p_wage.min()

2.1367

In [7]:
np.min(p_wage)

2.1367

min(p_wage) #in built
p_wage.min() # series min
np.min(p_wage) # numpy

In [9]:
wage_count=len(p_wage)
wage_min=min(p_wage)
wage_max=max(p_wage)
wage_mean=round(np.mean(p_wage),2)
wage_median=round(np.median(p_wage),2)

**25p**
- q1
 - 
25 percentage of data has less than that partcular point(25p poin

In [10]:
p_25=np.percentile(p_wage,q=25)
p_25

34015.479999999996

In [11]:
p_25=np.quantile(p_wage,q=0.25)
p_25

34015.479999999996

In [12]:
#25 percentage of data has less than that 34015.47

In [13]:
25*25480/100

6370.0

In [14]:
#6370 employees has less than that 34015.47
con=p_wage<p_25
len(p_wage[con])

6370

In [15]:
p_25=np.percentile(p_wage,q=25)
con=p_wage<p_25
len(p_wage[con])
# 25*25480/100

6370

In [16]:
p_50=np.percentile(p_wage,q=50)
con=p_wage<p_50
len(p_wage[con]), p_50

(12740, 70308.20999999999)

In [17]:
p_75=np.percentile(p_wage,q=75)
con=p_wage<p_75
len(p_wage[con])

19110

In [18]:
p_wage=visa_df['prevailing_wage']
wage_count=len(p_wage)
wage_min=min(p_wage)
wage_max=max(p_wage)
wage_mean=round(np.mean(p_wage),2)
wage_median=round(np.median(p_wage),2)
wage_p_25=round(np.percentile(p_wage,q=25),2)
wage_p_75=round(np.percentile(p_wage,q=75))
values=[wage_count,wage_min,wage_mean,wage_median,wage_p_25,wage_p_75,wage_max]
index=['count','min','mean','median','25p','75p','max']
wage_df=pd.DataFrame(values,columns=['prevailing_wage'],index=index)

In [20]:
idx=['count','min','mean','median','25p','75p','max']
df=pd.DataFrame(index=idx)
for i in num_cols:
    data=visa_df[i]
    count=len(data)
    minn=np.min(data)
    maxx=np.max(data)
    mean=round(np.mean(data),2)
    median=round(np.median(data),2)
    p_25=round(np.percentile(data,q=25),2)
    p_75=round(np.percentile(data,q=75))
    df[i]=[count,minn,mean,median,p_25,p_75,maxx]
df

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
min              -26.00      1800.00           2.1367
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
25p             1022.00      1976.00       34015.4800
75p             3504.00      2005.00      107736.0000
max           602069.00      2016.00      319210.2700

In [21]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000